@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src:
    url('@fonts/SF-Pro-Display/SF-Pro-Display-400@subset.woff2') format('woff2'),
    url('@fonts/SF-Pro-Display/SF-Pro-Display-400@subset.woff') format('woff'),
    url('@fonts/SF-Pro-Display/SF-Pro-Display-400@subset.ttf') format('truetype');
}

* {
  font-family: 'SF Pro Display', sans-serif;
}